.sticky-header {
  background-color: rgba(73, 68, 64, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.54);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.54);
}
